* {
  margin: 0;
  padding: 0;
  font-family: 'Courier New', Courier, monospace;
}
.App {
  text-align: center;
}

div {

  padding-top: 50px;
  padding-bottom: 50px;

}

h1 {
  color: black;
  font-size: 90px;
  font-weight: 500;
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(5, minmax(10em, 1fr));
  grid-gap: 5em;
  padding: 2em;
}

.card {
  border-radius: 5px;
  box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
  background-color: #b8b7b7;
}

.search-box {
  display: flex;
  /* justify-content: flex-end; */
  flex: 1 1 0%;
}
  
input {
  outline: none;
  border: none;

  display: block;
  width: 100%;
  max-width: 500px;
  padding: 20px;
  border-radius: 2em;
  background-color: rgba(236, 239, 240, 0.933);
}

.result-list {
 display: block;
}

ol {
  padding: 0 0 0 0;
}


